*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('example.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
h1{
font-family:  cursive;
font-size: 59px;
font-weight: 600;
padding-bottom: 20px;
color: darkred;
}
.containerr p{
    color: darkred;
    font-family:cursive;
    font-size: 15px;
    font-weight: 900;
}
.containerr p, input, textarea, label{
    font-family: cursive;
}
.containerr{
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}
.containerr form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}
.containerr label{
    color:darkred;
}
.containerr input, textarea, label{
display: block;
margin: 0 auto;
width: 100%;
}
.containerr input,textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid darkred;
}
.containerr input[type=submit]{
    background-color: rgb(99, 1, 1);
    padding: 8px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .3s ease;
}
.containerr input[type=submit]:hover{
    background-color: brown;
    color: black;
}
.containerr input,textarea{
    color: white;
    font-size:18px ;
    padding: 10px;
}
.containerr input:focus, textarea:focus{
outline: 1px solid darkred;
}
.back a{
    color:lightslategray;
    font-style: italic;
}
.back a:hover{
    color: wheat;
}